<div style="width:400px; border-style: dashed; border-width: 2px; border-color: blue; padding: 10px;">
Hi, and welcome. We are building a crowdsourced database of call for papers,
posters, and workshops. As you can see, the site is pre-alpha. There is
plenty to do if you'd be interested in helping out.
Check out <a href="https://github.com/cfpdb">https://github.com/cfpdb</a> to
get started, and follow us on Twitter <a
href="https://twitter.com/cfpdb">@cfpdb</a>.
</div>
<router-outlet></router-outlet>
