<div *ngIf="call">
  <a href="https://github.com/cfpdb/cfpdb/blob/master/{{ call.source_path }}">Edit this page</a><br/>
  <a *ngIf="call.homepage" href="{{ call.homepage }}">{{ call.homepage }}</a>
  <call-location [location]="call.location"></call-location>
  <div *ngIf="call.topics">
    <h2>Topics</h2>
    <ul>
      <li *ngFor="let topic of call.topics">
        {{ topic }}
      </li>
    </ul>
  </div>
  <call-important-dates [call]="call"></call-important-dates>
  <call-people *ngIf="call.people" [people]="call.people"></call-people>
</div>
